/* Google Font Link  NAV LATERAL    */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0; 
    font-family: "Poppins" , sans-serif;
}
    
  
  *,
  ::after,
  ::before {
    -webkit-box-sizing: border-box;
            box-sizing: border-box; }
  
  a {
    text-decoration: none;
    -webkit-transition: all 0.5s ease-in-out 0s;
    -o-transition: all 0.5s ease-in-out 0s;
    transition: all 0.5s ease-in-out 0s; }
    a:hover {
      text-decoration: none; }
  
  /*-----------------------------
      News Ticker
  ------------------------------*/
  .acme-news-ticker {
    background: #fff;
    position: relative;
    height: 45px;
    border: 1px solid #1974d2;
    margin-top: 45px; }
    @media (min-width: 768px) {
      .acme-news-ticker {
        margin-top: 0; } }
    .acme-news-ticker-label {
      background: #1974d2;
      padding: 10px;
      width: auto;
      float: left;
      margin-right: 15px;
      line-height: normal;
      height: 100%;
      color: #fff; }
      @media (max-width: 575px) {
        .acme-news-ticker-label {
          position: absolute;
          top: -45px; } }
    .acme-news-ticker-box {
      height: 100%;
      padding-top: 10px;
      overflow: hidden; }
      @media (max-width: 575px) {
        .acme-news-ticker-box {
          padding-left: 10px;
          padding-right: 120px; } }
      .acme-news-ticker-box ul {
        width: 100%;
        list-style-type: none !important;
        padding: 0;
        margin: 0; }
        .acme-news-ticker-box ul li a {
          text-decoration: none; }
    .acme-news-ticker-controls {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      position: absolute;
      height: 100%;
      right: 0;
      top: 0; }
      .acme-news-ticker-controls button {
        height: 100%;
        background: #f6f6f6;
        padding: 0;
        width: 40px;
        border-color: #eeeeee;
        border-style: solid;
        border-width: 0 0 0 1px;
        cursor: pointer;
        display: inline-block; }
        .acme-news-ticker-controls button:hover {
          background: #eeeeee; }
        .acme-news-ticker-controls button.acme-news-ticker-arrow {
          margin: 0;
          display: inline-block;
          position: relative; }
          .acme-news-ticker-controls button.acme-news-ticker-arrow:after {
            border-color: #999;
            border-bottom-style: solid;
            border-bottom-width: 2px;
            border-right-style: solid;
            border-right-width: 2px;
            content: '';
            display: inline-block;
            height: 8px;
            left: 50%;
            position: absolute;
            top: 50%;
            width: 8px; }
        .acme-news-ticker-controls button.acme-news-ticker-pause {
          position: relative;
          display: inline-block; }
          .acme-news-ticker-controls button.acme-news-ticker-pause:before {
            position: absolute;
            content: "";
            width: 10px;
            height: 10px;
            border-color: #999;
            border-style: solid;
            border-width: 0 2px 0;
            -webkit-transform: translate(-50%, -50%);
                -ms-transform: translate(-50%, -50%);
                    transform: translate(-50%, -50%);
            left: 50%;
            top: 50%; }
      .acme-news-ticker-controls.acme-news-ticker-horizontal-controls button.acme-news-ticker-prev:after {
        -webkit-transform: translate(-50%, -50%) rotate(135deg);
            -ms-transform: translate(-50%, -50%) rotate(135deg);
                transform: translate(-50%, -50%) rotate(135deg); }
      .acme-news-ticker-controls.acme-news-ticker-horizontal-controls button.acme-news-ticker-next:after {
        -webkit-transform: translate(-50%, -50%) rotate(315deg);
            -ms-transform: translate(-50%, -50%) rotate(315deg);
                transform: translate(-50%, -50%) rotate(315deg); }
      .acme-news-ticker-controls.acme-news-ticker-vertical-controls button.acme-news-ticker-prev:after {
        -webkit-transform: translate(-50%, -50%) rotate(225deg);
            -ms-transform: translate(-50%, -50%) rotate(225deg);
                transform: translate(-50%, -50%) rotate(225deg); }
      .acme-news-ticker-controls.acme-news-ticker-vertical-controls button.acme-news-ticker-next:after {
        -webkit-transform: translate(-50%, -50%) rotate(405deg);
            -ms-transform: translate(-50%, -50%) rotate(405deg);
                transform: translate(-50%, -50%) rotate(405deg); }
  
  /*# sourceMappingURL=style.css.map */

  
@import url('https://fonts.googleapis.com/css?family=Nova+Slim&display=swap');

body, html {

	 text-transform:none;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
	 
}


h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4 {
    font-weight: 400;
    line-height: 1.5em;
}


p {
	font-size: 15px;
	margin: 12px 0 0;
	line-height: 24px;
}



a{
	color: rgb(255, 255, 255);
	font-weight: 400;
}

button:focus{
	box-shadow:none;
	outline:none;
	border:none;
}

button{
	cursor:pointer;
}

ul, ol {
	padding: 0;
	margin:0px;
	list-style: none;
}



a,
a:hover,
a:focus {
    color: #333;
    text-decoration: none!important;
    transition: all 0.3s;
}

/*=======================================================
  BAGDE   NOTIFICATIONS AND MESSAGES
  ==================================================*/

  .navbar-badge {
    font-size: .6rem!important;
    font-weight: 300!important;
    padding: 2px 4px;
    position: absolute;
    right: 5px;
    top: 9px;
  }
  


/*=======================================================
  END  BAGDE   NOTIFICATIONS AND MESSAGES
  ==================================================*/

/*=======================================================
  material-icons  copy & paste form site google material-icons
  ==================================================*/




/*=======================================================
  material-icons  copy & paste form site google material-icons
  ==================================================*/



.wrapper {
	position: relative;
    width:100%;
	overflow:auto;
}





/* ---------------------------------------------------
    SIDEBAR STYLE start
----------------------------------------------------- */



#sidebar {
    position:fixed;
	height:100vh!important;
    top: 0;
    bottom: 0;
    left: 0;
    z-index:11;
    width: 260px;
	overflow:auto;
	transition:all 0.3s ;
    background: #16088C;
    padding: 6px 14px;
    box-shadow: 0 10px 30px -12px rgb(0 0 0 / 42%), 0 4px 25px 0px rgb(0 0 0 / 12%), 0 8px 10px -5px rgb(0 0 0 / 20%);
}
/*sacado de estyle_nav_lateral.css*/

.sidebar.open{
    width: 250px;
  }

  .sidebar .sidebar-header  .logo-details{
    height: 60px;
    display: flex;
    align-items: center;
    position: relative;
  }
  .sidebar .sidebar-header   .logo-details .icon{
    opacity: 0;
    transition: all 0.5s ease;
  }
  .sidebar .sidebar-header   .logo-details .logo_name{
    color: #fff;
    font-size: 15px;
    font-weight: 600;
    opacity: 0;
    align-items: center;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details .icon,
  .sidebar.open .logo-details .logo_name{
    opacity: 1;
  }
  .sidebar .logo-details #btn{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    font-size: 22px;
    transition: all 0.4s ease;
    font-size: 23px;
    text-align: center;
    cursor: pointer;
    transition: all 0.5s ease;
  }
  .sidebar.open .logo-details #btn{
    text-align: right;
  }
  .sidebar i{
    color: #fff;
    height: 60px;
    min-width: 50px;
    font-size: 28px;
    text-align: center;
    line-height: 60px;
  }
  .sidebar .nav-list{
    margin-top: 20px;
    height: 100%;
  }
  /*---------------------
        HASTA AQUI
  ----------------------*/

  /*------li----*/
  .sidebar li{
    position: relative;
    margin: 8px 0;
    list-style: none;
  }

 
  .sidebar.open li .tooltip{
    display: none;
  }


/*------LINKS NAME-----*/
.sidebar li a{
    display: flex;
    height: 100%;
    width: 100%;
    border-radius: 12px;
    align-items: center;
    text-decoration: none;
    transition: all 0.4s ease;
    background: #16088C;
  }
  .sidebar li a:hover{
    background: #FFF;
  }
  
  .sidebar li a .links_name{
    color: #fff;
    font-size: 15px;
    font-weight: 400;
    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transition: 0.4s;
  }
  .sidebar.open li a .links_name{
    opacity: 1;
    pointer-events: auto;
  }
  .sidebar li a:hover .links_name,
  .sidebar li a:hover i{
    transition: all 0.5s ease;
    color: #16088C;
  }
  .sidebar li i{
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    border-radius: 12px;
  }
/*---------------------*/

/*bx-search la lupa del nav lateral*/
.sidebar input{
    font-size: 15px;
    color: #FFF;
    font-weight: 400;
    outline: none;
    height: 50px;
    width: 100%;
    width: 50px;
    border: none;
    border-radius: 12px;
    transition: all 0.5s ease;
    background: #16088C;
  }
  .sidebar.open input{
    padding: 0 20px 0 50px;
    width: 100%;
  }
  .sidebar .bx-search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #16088C;
    color: #FFF;
  }

  #search{
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    font-size: 22px;
    background: #16088C;
    color: #FFF;
  }
  .sidebar.open .bx-search:hover{
    background: #16088C;
    color: #FFF;
  }
  .sidebar .bx-search:hover{
    background: #FFF;
    color: #16088C;
  }

  .sidebar li.profile{
    position: fixed;
    height: 60px;
    width: 78px;
    left: 0;
    bottom: -8px;
    padding: 10px 14px;
    background: #16088C;
    transition: all 0.5s ease;
    overflow: hidden;
  }
  .sidebar.open li.profile{
    width: 250px;
  }
  .sidebar li .profile-details{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
  }
  .sidebar li img{
    height: 45px;
    width: 45px;
    object-fit: cover;
    border-radius: 6px;
    margin-right: 10px;
  }
  .sidebar li.profile .name,
  .sidebar li.profile .job{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  #name{
    font-size: 15px;
    font-weight: 400;
    color: #fff;
    white-space: nowrap;
  }
  #salir{
    position: absolute;
    top: 50%;
    right: 0;
    /*transform: translateY(-50%);*/
    background: #FFDD00;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }
  .sidebar li.profile .job{
    font-size: 12px;
  }
  .sidebar .profile #log_out{
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background: #FFDD00;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
  }

  #log_out{
    position: absolute;
    top: 20%;
    right: 0;
    transform: translateY(-25%);
    background: #FFDD00;
    width: 10%;
    height: 60px;
    line-height: 60px;
    border-radius: 0px;
    transition: all 0.5s ease;
    
  }
  #log_out:hover{
    color: rgb(255, 255, 255);
    background-color: #47A8BD;
}

  .sidebar.open .profile #log_out{
    width: 50px;
    background: none;
  }
  .home-section{
    position: relative;
    background: #E4E9F7;
    min-height: 100vh;
    top: 0;
    left: 78px;
    width: calc(100% - 78px);
    transition: all 0.5s ease;
    z-index: 2;
  }
  /*----------------
  hasta aqui
-------------------*/

#sidebar::-webkit-scrollbar{
	width:5px;
	border-radius:10px;
	background-color:#eee;
	display:none;
}
#sidebar::-webkit-scrollbar-thumbs{
	width:5px;
	border-radius:10px;
	background-color:#333;
	display:none;
}


#sidebar:hover::-webkit-scrollbar{
	display:block;
}
#sidebar:hover::-webkit-scrollbar-thumbs{
	display:block;
}

#sidebar .sidebar-header {
    padding:20px;
	background-color:#16088C;
	border-bottom:1px solid rgb(2, 150, 242);/*el color de la raya que aparece*/
}

.sidebar-header h3{
	color:#333;
	font-size:17px;
	margin:0px;
	text-transform:uppercase;
	transition:all 0.5s ease;
	font-weight:600;
}

.sidebar-header h3 img{
	width:20px;
  height:20px;
	margin-right:10px;
}

/*
#sidebar ul li{
	padding:2px 7px;

}*/



/*============
    INTENTO
=============*/

span.tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  color: white;

}


li:hover a span.tooltip{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}


/*================end=*/

#sidebar ul li.active>a{
    color: rgb(255, 255, 255);
    background-color: rgba(200, 200, 200, 0.2);
}


/*cuando pasa el mouse se vuelven las letras blancas*/
#sidebar ul li a:hover{
    color: rgb(255, 255, 255);
    background-color: #47A8BD;
}

#sidebar ul li a:hover span.tooltip{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
  color: white;
}



.dropdown-toggle::after {
    position: absolute;
    right: 10px;
    top: 23px;
}

#sidebar ul li.drodown{
	position:sticky;
}


#sidebar ul.components {    
    padding: 20px 0;
}

#sidebar ul li a {
    padding: 10px;
	line-height: 30px;
	border-radius:5px;
    font-size: 15px;
	position:relative;
    font-weight: 400;
    display: flex;
    border-radius: 12px;
    color:white;
}

#sidebar ul li a span{
	text-transform:capitalize;
	display:inline-block;
    color: white;
}

/*FALLA
#sidebar ul li ul#menu {
  color: white!important;
}
*/


/*el color de los iconos*/
#sidebar ul li a i {
    position: relative;
    margin-right: 10px;
    top: 5px;
	color: #ffffff;
    margin-left: 10px;
}





/* ---------------------------------------------------
   sidebar end
----------------------------------------------------- */




/*=======================================================
   main-content navbar-design start
   ===============================================*/



#content {
	position: relative;
    transition: all 0.3s;

}

.top-navbar{
	width:100%;
	z-index:9;
	position:relative;
}


.main-content{
	padding:10px 20px 0px 20px;
	position: relative;
  width: 100%;
  background-color: white;
}



.navbar{
    background-color: #3185FC;
    color: #FFFFFF;
}

.navbar-brand {
    color: #FFFFFF;
}

.navbar button{
	background-color:transparent;
	border:none;
}
.navbar button span{
	color:#fff;
}

#sidebarCollapse{
	border-radius:50%;
	width:45px;
	height:45px;
	text-align:center;
	line-height:45px;
	margin-right:20px;
	border:none;
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.09);
}

#sidebarCollapse span {
    margin: 9px;
    padding: 0px;
}



.navbar-nav > li.active{
   color: #FFFFFF;
   border-radius:4px;
    background-color: rgba(0, 0, 0, 0.08);  
 }

.navbar-nav > li > a {
    color: #FFFFFF;
}


.navbar .notification {
	 position: absolute;
    top: 5px;
    right: 10px;
	display: block;
    font-size: 9px;
    border: 0px;
    font-size: 10px;
    background: #d9534f;
    min-width: 15px;
	 text-align: center;
    padding: 1px 5px;
    height: 15px;
    border-radius: 2px;
    line-height: 14px;
}


 .navbar-nav > li.show .dropdown-menu {
    transform: translate3d(0, 0, 0);
	opacity:1;
	visibility:visible;
}


.dropdown-menu li > a {
    font-size: 13px;
    padding: 10px 20px;
    margin: 0 5px;
    border-radius: 2px;
	font-weight: 400;
    transition: all 150ms linear;
}

.navbar-nav > .active > a:focus {
    color: #FFFFFF;
    background-color: rgba(0, 0, 0, 0.08);
}


.navbar-nav li a {
    position: relative;
    display: block;
    padding: 10px 15px!important;
}

/*=======================================================
   main-content navbar-design end
   ===============================================*/



/*=======================================================
   main-content navbar-design start
   ===============================================*/


/*=======================================================
   main-content inner design like card start
   ===============================================*/


.card {
    margin: 10px 0;
}

.card {
    border-radius: 5px;
}

.card {
    display: inline-block;
    position: relative;
	border:none!important;
    width: 100%;
    margin:15px 0;
    box-shadow: 0 1px 2px rgb(0 0 0 / 8%);
    border-radius: 6px;
    color: rgba(0,0,0, 0.87);
    background: #fff;
}

.card-stats .card-header {
    float: left;
    text-align: center;
}

.card .card-header {
    padding: 15px 20px 0;
    z-index: 3;
	background-color:#fff!important;
	border-bottom:none;
}

.card .card-footer .stats .material-icons {
    position: relative;
    top: 4px;
    font-size: 16px;
}

.card-stats .card-header span {
    font-size: 36px;
    line-height: 56px;
    width: 56px;
    height: 56px;
}

.table > thead > tr > th {
    border-bottom-width: 1px;
    font-size: 16px;
    font-weight: 400;
}


.card .card-content {
    padding: 15px 20px;
    position: relative;
}

.streamline .sl-primary {
    border-left-color: #188ae2;
}

.streamline .sl-item {
    position: relative;
    padding-bottom: 12px;
    border-left: 1px solid #ccc;
}



.streamline .sl-item:before {
    content: '';
    position: absolute;
    left: -6px;
    top: 0;
    background-color: #ccc;
    width: 12px;
    height: 12px;
    border-radius: 100%;
}
.streamline .sl-primary:before, .streamline .sl-primary:last-child:after {
    background-color: #188ae2;
}


.streamline .sl-danger:before, .streamline .sl-danger:last-child:after {
    background-color: #ff5b5b;
}

.streamline .sl-success {
    border-left-color: #10c469;
}

.streamline .sl-success:before, .streamline .sl-success:last-child:after {
    background-color: #10c469;
}

.streamline .sl-warning {
    border-left-color: #f9c851;
}

.streamline .sl-warning:before, .streamline .sl-warning:last-child:after {
    background-color: #f9c851;
}



.streamline .sl-danger {
    border-left-color: #ff5b5b;
}
.streamline .sl-item .sl-content {
    margin-left: 24px;
}

.streamline .sl-item .text-muted {
    color: inherit;
    opacity: .6;
	font-size:12px;
}

.streamline .sl-item p {
	font-size:14px;
	color:#333;
}


/*=======================================================
   main-content inner design like card end
   ===============================================*/



/*=============================================
  footer design start
  =========================================*/
  /*
  #pie {
    height:50px;
    line-height:50px;
    background:black;
    color:white;
    text-align:center;
    position:absolute;
    bottom:0;
    left:0;
    width:100%;
  }*/



footer {
 
	position:relative;
	width:100%;
  background:#3185FC;
  color:white;
  height:50px;
  line-height:50px;
  text-align:center;
  border-radius: none;
}

footer ul li {
    display: inline-block;
}

footer ul li a {
    color: inherit;
    padding: 15px;
    font-weight: 500;
    font-size: 12px;
    text-transform: uppercase;
    border-radius: 3px;
    text-decoration: none;
    position: relative;
    display: block;
}
footer .copyright {
  padding: 15px;
font-size:14px;
  margin: 0;
}




/*=============================================
  footer design end
  =========================================*/
  


#sidebar.show-nav,.body-overlay.show-nav{
	transform:translatex(0%);
	opacity:1;
	display:block;
	visibility:visible;
	z-index:15;
}





/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media only screen and (min-width:992px){
	#sidebar.active {
    width:80px;
	height:100%!important;
	position:fixed!important;
	overflow:visible!important;
	top:0!important;
	z-index:666;
	float:left!important;
    bottom: 0!important;
	
}


#sidebar.active .sidebar-header {
	padding:0px;
	background-color:#16088C;
	border-bottom:1px solid rgb(2, 150, 242);/*el color de la raya que aparece*/
	}

#sidebar.active .salir {
	display:"none";
	}



#sidebar.active .sidebar-header h3 span {
   display:none;
   transition:all 0.5s ease;
}

#sidebar.active ul li a span{
    display:none;
	transition:all 0.5s ease;
}

#sidebar.active .dropdown-toggle::after {
    display:none;
	transition:all 0.5s ease;
}

#content {
    width: calc(100% - 260px);
    position: relative;
    float: right;
    transition: all 0.3s;
    background-color: #fffefe;
}  

#content.active {
    width: calc(100% - 80px);
} 

#sidebar.active .menu {
    position: absolute;
    left: 81px;
    background-color: white;
    width: 180px;
    height: auto;
    margin: 5px 0;
    top: 0;
    border: 1px solid #dcd9d9;
    z-index: 4;
}                                                                                                                                                                                                              
}


@media only screen and (min-width:992px){
.dropdown-menu {
    border: 0;
    box-shadow: 0 2px 5px 0 rgb(0 0 0 / 26%);
	transform: translate3d(0, -20px, 0);
    visibility: hidden;
	transition: all 150ms linear;
    display: block;
	min-width:15rem;
	right: 0;
    left: auto;
    opacity: 0;
}
	
}


/*===============small-screen overlay sidebar design media queries==============*/

@media only screen and (max-width:992px){
#sidebar {
    position:fixed;
    top: 0;
    bottom:0;
    z-index: 10;
    width: 260px;
	transform:translatex(-100%);
	transition: all 150ms linear;
	box-shadow:none!important;
}	

.body-overlay{
	position:fixed;
	top:0;
	left:0;
	width:100%;
	height:100%;
	display:none;
	visibility:hidden;
	opacity:0;
	z-index:3;
	transition: all 150ms linear;
	background-color:rgba(0,0,0,0.5);
}
}
/*===============small-screen overlay sidebar design media queries==============*/




/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */



.sidebar .nav-links li .sub-menu .link_name{
  display: none;
}
.sidebar.close .nav-links li .sub-menu .link_name{
  font-size: 18px;
  opacity: 1;
  display: block;
}
.sidebar .nav-links li a .link_name{
  font-size: 18px;
  font-weight: 400;
  color: #fff;
  transition: all 0.4s ease;
}
.sidebar.close .nav-links li a .link_name{
  opacity: 0;
  pointer-events: none;
}

/* ---------------------------------------------------
                        MODAL
----------------------------------------------------- */
/*
#nueva_soli {
    opacity: 0.5 !important;
}*/

/* ------------------------------------------------------------------------
                  CSS PARA TITULOS DE LOS LISTADOS EN GENERAL   
---------------------------------------------------------------------------- */


#titulosListar {
color:#f9c851;
}